body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #2299aa !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #2299aa !important;
  border-color: #2299aa !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #145862 !important;
  border-color: #145862 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #145862 !important;
  border-color: #145862 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #2299aa;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #145862 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #2299aa !important;
  border-color: #2299aa !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #2299aa !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #114c55 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #6ad2e1;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-svELQit0rg {
  display: flex;
  background-image: url("../../../assets/images/wallpaperflare.com-wallpaper-1-2000x1125.jpg");
}
.cid-svELQit0rg .mbr-overlay {
  background-color: #353535;
  opacity: 0.5;
}
.cid-svELQit0rg .content-wrap {
  padding: 5rem 1rem;
}
@media (min-width: 768px) {
  .cid-svELQit0rg {
    align-items: flex-end;
  }
  .cid-svELQit0rg .row {
    justify-content: flex-start;
  }
  .cid-svELQit0rg .content-wrap {
    width: 51%;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-svELQit0rg .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-svELQit0rg {
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-svELQit0rg .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-svELQit0rg .content-wrap {
    width: 100%;
  }
}
.cid-svELQit0rg .mbr-section-title {
  color: #9fdbf8;
}
.cid-svELQit0rg .mbr-text,
.cid-svELQit0rg .mbr-section-btn {
  color: #bed3f9;
  text-align: left;
}
.cid-svENjhsO43 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #232323;
}
@media (max-width: 991px) {
  .cid-svENjhsO43 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-svENjhsO43 .row {
  flex-direction: row-reverse;
}
.cid-svENjhsO43 img {
  width: 100%;
}
.cid-svENjhsO43 .mbr-description {
  color: #bed3f9;
}
.cid-svENJZWTNV {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #232323;
}
.cid-svENJZWTNV .mbr-overlay {
  z-index: 1;
}
@media (min-width: 992px) {
  .cid-svENJZWTNV .carousel {
    min-height: 800px;
  }
  .cid-svENJZWTNV .carousel img {
    max-height: 800px;
    object-fit: contain;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-svENJZWTNV .carousel {
    min-height: 520px;
  }
  .cid-svENJZWTNV .carousel img {
    max-height: 520px;
    object-fit: contain;
  }
}
@media (max-width: 767px) {
  .cid-svENJZWTNV .carousel {
    min-height: 440px;
  }
  .cid-svENJZWTNV .carousel img {
    max-height: 440px;
    object-fit: contain;
  }
  .cid-svENJZWTNV .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-svENJZWTNV .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-svENJZWTNV .carousel,
.cid-svENJZWTNV .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-svENJZWTNV .item-wrapper {
  width: 100%;
}
.cid-svENJZWTNV .carousel-caption {
  bottom: 40px;
}
.cid-svENJZWTNV .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
.cid-svENJZWTNV .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-svENJZWTNV .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-svENJZWTNV .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-svENJZWTNV .carousel-control {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-svENJZWTNV .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-svENJZWTNV .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-svENJZWTNV .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-svENJZWTNV .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-svENJZWTNV .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-svENJZWTNV .carousel-indicators li.active,
.cid-svENJZWTNV .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-svENJZWTNV .carousel-indicators li::after,
.cid-svENJZWTNV .carousel-indicators li::before {
  content: none;
}
.cid-svENJZWTNV .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-svENJZWTNV .carousel-indicators {
    display: none !important;
  }
}
.cid-svENJZWTNV P {
  text-align: center;
  color: #98dee8;
}
.cid-svENJZWTNV H5 {
  text-align: center;
}
.cid-svF6ymsFdu {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #232323;
}
@media (max-width: 991px) {
  .cid-svF6ymsFdu .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-svF6ymsFdu img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-svF6ymsFdu .text-wrapper {
    padding: 2rem;
  }
}
.cid-svF6ymsFdu .mbr-text {
  color: #fafafa;
}
.cid-svF6ymsFdu .mbr-section-title {
  color: #fafafa;
}
.cid-svFq22G1nz {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #232323;
}
@media (max-width: 767px) {
  .cid-svFq22G1nz .content {
    text-align: center;
  }
  .cid-svFq22G1nz .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-svFq22G1nz .map {
  height: 18.75rem;
}
@media (max-width: 767px) {
  .cid-svFq22G1nz .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-svFq22G1nz .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: 0.05;
}
.cid-svFq22G1nz .google-map {
  height: 25rem;
  position: relative;
}
.cid-svFq22G1nz .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-svFq22G1nz .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-svFq22G1nz .google-map[data-state] {
  background: #e9e5dc;
}
.cid-svFq22G1nz .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-svFq22G1nz .social-list {
  padding-left: 0;
  margin-bottom: 0;
  margin-left: -7px;
  list-style: none;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-svFq22G1nz .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-svFq22G1nz .social-list .soc-item {
  margin: 0 0.5rem;
}
.cid-svFq22G1nz .social-list a {
  margin: 0;
  opacity: 0.5;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.cid-svFq22G1nz .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-svFq22G1nz .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-svFq22G1nz .list {
  list-style-type: none;
  padding: 0;
}
.cid-svFlzMhRm1 {
  background-image: url("../../../assets/images/brody-nameless-stray-heroes-marksman-of-skins-ml-hd-wallpapers-1920x1080.jpg");
}
.cid-svFm8Qtdmy {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-svFm8Qtdmy .carousel {
  height: 800px;
}
.cid-svFm8Qtdmy .carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-svFm8Qtdmy .carousel-item,
.cid-svFm8Qtdmy .carousel-inner {
  height: 100%;
}
.cid-svFm8Qtdmy .mbr-overlay {
  z-index: 1;
}
.cid-svFm8Qtdmy .carousel-caption {
  bottom: 40px;
}
.cid-svFm8Qtdmy .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-svFm8Qtdmy .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-svFm8Qtdmy .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
.cid-svFm8Qtdmy .item-wrapper {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-svFm8Qtdmy .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-svFm8Qtdmy .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-svFm8Qtdmy .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-svFm8Qtdmy .carousel-control {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-svFm8Qtdmy .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-svFm8Qtdmy .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-svFm8Qtdmy .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-svFm8Qtdmy .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-svFm8Qtdmy .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-svFm8Qtdmy .carousel-indicators li.active,
.cid-svFm8Qtdmy .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-svFm8Qtdmy .carousel-indicators li::after,
.cid-svFm8Qtdmy .carousel-indicators li::before {
  content: none;
}
.cid-svFm8Qtdmy .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-svFm8Qtdmy .carousel-indicators {
    display: none !important;
  }
}
.cid-svFq22G1nz {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #232323;
}
@media (max-width: 767px) {
  .cid-svFq22G1nz .content {
    text-align: center;
  }
  .cid-svFq22G1nz .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-svFq22G1nz .map {
  height: 18.75rem;
}
@media (max-width: 767px) {
  .cid-svFq22G1nz .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-svFq22G1nz .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: 0.05;
}
.cid-svFq22G1nz .google-map {
  height: 25rem;
  position: relative;
}
.cid-svFq22G1nz .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-svFq22G1nz .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-svFq22G1nz .google-map[data-state] {
  background: #e9e5dc;
}
.cid-svFq22G1nz .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-svFq22G1nz .social-list {
  padding-left: 0;
  margin-bottom: 0;
  margin-left: -7px;
  list-style: none;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-svFq22G1nz .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-svFq22G1nz .social-list .soc-item {
  margin: 0 0.5rem;
}
.cid-svFq22G1nz .social-list a {
  margin: 0;
  opacity: 0.5;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.cid-svFq22G1nz .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-svFq22G1nz .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-svFq22G1nz .list {
  list-style-type: none;
  padding: 0;
}
.cid-svFoMUPliz {
  background-image: url("../../../assets/images/x.borg-firaga-armor-wallpaper-2-1600x848.jpg");
}
.cid-svFoMUPliz .mbr-text,
.cid-svFoMUPliz .mbr-section-btn {
  color: #fafafa;
}
.cid-svFpIT0SlV {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #bbbbbb;
}
.cid-svFpIT0SlV .mbr-overlay {
  z-index: 1;
}
@media (min-width: 992px) {
  .cid-svFpIT0SlV .carousel {
    min-height: 800px;
  }
  .cid-svFpIT0SlV .carousel img {
    max-height: 800px;
    object-fit: contain;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-svFpIT0SlV .carousel {
    min-height: 520px;
  }
  .cid-svFpIT0SlV .carousel img {
    max-height: 520px;
    object-fit: contain;
  }
}
@media (max-width: 767px) {
  .cid-svFpIT0SlV .carousel {
    min-height: 440px;
  }
  .cid-svFpIT0SlV .carousel img {
    max-height: 440px;
    object-fit: contain;
  }
  .cid-svFpIT0SlV .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-svFpIT0SlV .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-svFpIT0SlV .carousel,
.cid-svFpIT0SlV .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-svFpIT0SlV .item-wrapper {
  width: 100%;
}
.cid-svFpIT0SlV .carousel-caption {
  bottom: 40px;
}
.cid-svFpIT0SlV .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
.cid-svFpIT0SlV .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-svFpIT0SlV .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-svFpIT0SlV .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-svFpIT0SlV .carousel-control {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-svFpIT0SlV .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-svFpIT0SlV .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-svFpIT0SlV .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-svFpIT0SlV .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-svFpIT0SlV .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-svFpIT0SlV .carousel-indicators li.active,
.cid-svFpIT0SlV .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-svFpIT0SlV .carousel-indicators li::after,
.cid-svFpIT0SlV .carousel-indicators li::before {
  content: none;
}
.cid-svFpIT0SlV .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-svFpIT0SlV .carousel-indicators {
    display: none !important;
  }
}
.cid-svFq22G1nz {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #232323;
}
@media (max-width: 767px) {
  .cid-svFq22G1nz .content {
    text-align: center;
  }
  .cid-svFq22G1nz .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-svFq22G1nz .map {
  height: 18.75rem;
}
@media (max-width: 767px) {
  .cid-svFq22G1nz .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-svFq22G1nz .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: 0.05;
}
.cid-svFq22G1nz .google-map {
  height: 25rem;
  position: relative;
}
.cid-svFq22G1nz .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-svFq22G1nz .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-svFq22G1nz .google-map[data-state] {
  background: #e9e5dc;
}
.cid-svFq22G1nz .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-svFq22G1nz .social-list {
  padding-left: 0;
  margin-bottom: 0;
  margin-left: -7px;
  list-style: none;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-svFq22G1nz .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-svFq22G1nz .social-list .soc-item {
  margin: 0 0.5rem;
}
.cid-svFq22G1nz .social-list a {
  margin: 0;
  opacity: 0.5;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.cid-svFq22G1nz .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-svFq22G1nz .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-svFq22G1nz .list {
  list-style-type: none;
  padding: 0;
}
